@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* 050609 */
    --foreground: 225, 29%, 3%;
    --background: 0, 24%, 94%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --yellow_color: 42, 100%, 50%;
  }

  .dark {
    /* 050609 */
    --background: 225, 29%, 3%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --yellow_color: 42, 100%, 50%;
  }
}

.logo__font {
  font-family: var(--sofia);
  color: hsl(42, 100%, 50%);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.skills__image__gradient {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(44, 9, 121, 1) 35%,
    rgba(132, 24, 208, 1) 100%
  );
}

.gradient__text {

  background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-image: linear-gradient(to right, rgba(106,17,203,0.5), rgba(37,117,252,0.5)); */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}


.gradient__hero__wrapper div {
  transition: opacity 0.5s ease-in-out;
}


.lets__talk__gradient__btn__wrapper {
   

   /* background: linear-gradient(to right, rgba(106,17,203,0.5), rgba(37,117,252,0.5));
   text-align: center;
   padding: 13px 20px;
   color: #fff;
   background-clip: text;
   -webkit-background-clip: text; */
   /* -webkit-text-fill-color: rgba(255,255,255,0.001); */
   /* transition: 256ms all;
   position: relative;
   cursor: pointer;
   border: 1px solid  rgba(106,17,203,0.5); */
}
